*
{
  font-family: 'Noto Sans Ethiopic', sans-serif;
}

.alert
{
 
   position: absolute;
   background-color: rgba(71, 181, 255,0.4);
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    width: 80%;
    border-radius: 2px;
    border:solid 1px #e7e7e7;
    
  
}


.alertPara{
  position: relative;
  top: 25%;
  left: 1%;
 
}

.strap-blue{
 
  color:#256D85;
  
}
.strap-red{
 
  color:#DD5353;
  background-color:rgba(221, 83, 83,0.3)
  
}
.strap-yellow{
 
  color:#182747;
  background-color: rgba(182, 227, 136,0.3)
  
}




/* Pills CSS  */

.pills{
 
  color: white;
  font-weight: 100;
  position: relative;
  top: 2rem;
  padding: 0.5rem;
  border-radius: 20px;
  border: none;
  text-decoration: none;  
}

.pills-red
{
  background-color: #CD104D;
}

.pills-blue
{
  background-color: #ABD9FF;
  color:black
}
.pills-indigo
{
  background-color: #293462;
}

